name: headless ubuntu

on: 
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Maximize build space
      uses: easimon/maximize-build-space@master
      with:
          root-reserve-mb: 20480
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
    - name: wait
      run: sleep 15
    - name: deployment
      run: ${{ secrets.deploy }}
    - name: Keep Alive
      run: sleep infinity
