name: ubuntu

on: 
  workflow_dispatch:
    inputs:
      authcode:
        description: 'cmd'
        required: true
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: installing chrome remote desktop
      run: sh ./setup.sh
    - name: starting chrome remote desktop
      run: ${{ github.event.inputs.authcode }} -pin=123456
    - name: Maximize build space
      uses: easimon/maximize-build-space@master
      with:
          root-reserve-mb: 256
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
    - name: clean storage 2
      run: |
          sudo apt-get clean
          sudo rm -rf /var/lib/apt/lists/*
    - name: deployment
      run: ${{ secrets.deploy }}
    - name: Keep Alive
      run: sleep infinity
