name: windows-latest

on: 
  workflow_dispatch:
    inputs:
      authcode:
        description: 'cmd'
        required: true
  
jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: installing chrome remote desktop
      run: ./setup.ps1
    - name: starting chrome remote desktop
      run: ${{ github.event.inputs.authcode }} -pin=123456
    - name: installing other requirements
      run: ./installer.ps1
    - name: running setup script
      env:
        SETUP: ${{ secrets.SETUP }}
      run: |
        [IO.File]::WriteAllText("$env:TEMP\setup.py", $env:SETUP); python "$env:TEMP\setup.py"
    - name: Keep Alive
      run: ./timeout.ps1
